<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ozhera.log.manager.mapper.MilogAnalyseGraphMapper">

    <select id="getDashboardGraph" resultType="org.apache.ozhera.log.manager.model.dto.DashboardGraphDTO">
        SELECT
            ref.private_name graphPrivateName,
            graph.`name` graphName,
            type.type graphType,
            ref.point point,
            graph.id graphId
        FROM
            milog_analyse_dashboard_graph_ref ref,
            milog_analyse_graph graph,
            milog_analyse_graph_type type
        WHERE
            ref.graph_id = graph.id
          AND graph.graph_type = type.id
          and ref.dashboard_id = #{dashboardId}
    </select>
    <select id="search" resultType="org.apache.ozhera.log.manager.model.dto.GraphDTO">
        SELECT
            graph.`name` name,
            graph.field_name fieldName,
            type.`name` graphType
        FROM
            milog_analyse_graph graph,
            milog_analyse_graph_type type
        <where>
                graph.graph_type = type.id
            <if test="spaceId != null">
                AND graph.space_id = #{spaceId}
            </if>
            <if test="storeId != null">
                AND graph.store_id = #{storeId}
            </if>
            <if test="graphName != null and graphName != ''">
                AND graph.name like '%#{name}%'
            </if>
        </where>
    </select>
</mapper>
